body {
  margin: 0;
  padding: 0; }

.search-form {
  position: relative; }
  .search-form i {
    position: absolute;
    z-index: 1;
    font-size: 21px;
    top: 6px;
    left: 6px; }
  .search-form .rbt-input {
    padding-left: 20px; }

.clear {
  clear: both; }

.m-a-0 {
  margin: 0 !important; }

.m-t-0 {
  margin-top: 0 !important; }

.m-r-0 {
  margin-right: 0 !important; }

.m-b-0 {
  margin-bottom: 0 !important; }

.m-l-0 {
  margin-left: 0 !important; }

.m-x-0 {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.m-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.m-a {
  margin: 1rem !important; }

.m-t {
  margin-top: 1rem !important; }

.m-r {
  margin-right: 1rem !important; }

.m-b {
  margin-bottom: 1rem !important; }

.m-l {
  margin-left: 1rem !important; }

.m-x {
  margin-right: 1rem !important;
  margin-left: 1rem !important; }

.m-y {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important; }

.m-x-auto {
  margin-right: auto !important;
  margin-left: auto !important; }

.m-a-md {
  margin: 1.5rem !important; }

.m-t-md {
  margin-top: 1.5rem !important; }

.m-r-md {
  margin-right: 1.5rem !important; }

.m-b-md {
  margin-bottom: 1.5rem !important; }

.m-l-md {
  margin-left: 1.5rem !important; }

.m-x-md {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important; }

.m-y-md {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important; }

.m-a-lg {
  margin: 3rem !important; }

.m-t-lg {
  margin-top: 3rem !important; }

.m-r-lg {
  margin-right: 3rem !important; }

.m-b-lg {
  margin-bottom: 3rem !important; }

.m-l-lg {
  margin-left: 3rem !important; }

.m-x-lg {
  margin-right: 3rem !important;
  margin-left: 3rem !important; }

.m-y-lg {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important; }

.p-a-0 {
  padding: 0 !important; }

.p-t-0 {
  padding-top: 0 !important; }

.p-r-0 {
  padding-right: 0 !important; }

.p-b-0 {
  padding-bottom: 0 !important; }

.p-l-0 {
  padding-left: 0 !important; }

.p-x-0 {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.p-y-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.p-a {
  padding: 1rem !important; }

.p-t {
  padding-top: 1rem !important; }

.p-r {
  padding-right: 1rem !important; }

.p-b {
  padding-bottom: 1rem !important; }

.p-l {
  padding-left: 1rem !important; }

.p-x {
  padding-right: 1rem !important;
  padding-left: 1rem !important; }

.p-y {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important; }

.p-a-md {
  padding: 1.5rem !important; }

.p-t-md {
  padding-top: 1.5rem !important; }

.p-r-md {
  padding-right: 1.5rem !important; }

.p-b-md {
  padding-bottom: 1.5rem !important; }

.p-l-md {
  padding-left: 1.5rem !important; }

.p-x-md {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important; }

.p-y-md {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important; }

.p-a-lg {
  padding: 3rem !important; }

.p-t-lg {
  padding-top: 3rem !important; }

.p-r-lg {
  padding-right: 3rem !important; }

.p-b-lg {
  padding-bottom: 3rem !important; }

.p-l-lg {
  padding-left: 3rem !important; }

.p-x-lg {
  padding-right: 3rem !important;
  padding-left: 3rem !important; }

.p-y-lg {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important; }

.pos-f-t {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }
