$spacer:                     1rem !default;
$spacer-x:                   $spacer !default;
$spacer-y:                   $spacer !default;
$border-width:               .0625rem !default;
$zindex-navbar-fixed:        1030 !default;
$fontSize:                   14px;

